.btn {
  display: block;
  padding: 14px 0;
  border-radius: 30px;
  border: none;
  background: #f5b2c4;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #e88aa2;
  color: #fff;
}

.btn.outline {
  background: #f5b2c4;
}
