/* ================= HEADER ================= */
.header {
  height: 70px;
  background: #d99aa9;
}

.header-inner {
  height: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 700;
}

.nav a {
  margin-right: 28px;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.nav a.active {
  color: #e64b6a;
}

.nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e64b6a;
}

/* ================= PAGE ================= */
.wardrobe-page {
  min-height: calc(100vh - 70px);
  padding: 40px 80px;
  background: radial-gradient(
    circle at right bottom,
    #f9c7d3 0%,
    #ffffff 40%
  );
}

/* ================= USER INFO ================= */
.user-info {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 90px;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ec8aa3;
}

.user-text h2 {
  font-size: 22px;
  margin-bottom: 6px;
}

.user-text p {
  font-size: 14px;
  color: #555;
}

/* ================= GRID ================= */
/* GRID GIÃN ĐỀU */
.wardrobe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 70px;
  column-gap: 80px;
  margin-left: 40px;
  margin-top: 20px;
}

/* COLUMN */
.wardrobe-col {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

/* ================= FOLDER ================= */
.folder {
  display: flex;
  align-items: center;
  gap: 28px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.folder-icon {
  width: 90px;
  height: auto;
  display: block;
  flex-shrink: 0;
}

.folder span {
  font-size: 18px;
  font-weight: 500;
}
.breadcrumb {
  font-size: 18px;
  margin: 30px 0 40px;
}

.breadcrumb-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.breadcrumb-link:hover {
  color: #e64b6a;
  text-decoration: underline;
}
